/* основной цвет текста  #2E2F42*/
/* вторичный цвет текста #757575 */
/* акцент #2196F3; */
/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA  */

:root{
    --primacy-text-color:#2E2F42;
    --title-text-color:#2E2F42;
    --third-background-color:#E5E5E5;
    --accent-color: #4D5AE5;;
    --item-text-color:#434455;
    --background-color:#ffffff;
    --secondary-background-color:#F4F4FD;
    --hero-title-color:#ffffff;
    --btn-back-color:#404BBF;
    
}




.page{
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}

.title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
}


.text{
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}


/**-----------Header---------**/

.header{
    background-color: var(--background-color)
}
.logo-link{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}


.logo-dark{
    color: #2E2F42;
    
}
.logo-light{
    color: #ffffff;
        
    
}

/**---site nav------*/
.link-nav.current{
    color: var(--primacy-text-color);
}

.link-nav {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--primacy-text-color);
}

.link-nav:focus,
.link-nav:hover{
    color: var(--accent-color)
}

.mail,
.contact {
    font-family: 'Roboto'
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color:var(--item-text-color);
}
.mail:focus,
.mail:hover{
    color: var(--accent-color)
}

.contact:focus,
.contact:hover{
    color: var(--accent-color)
}


/**------hero------- */
.hero{
    background-color:var(--primacy-text-color)
}

.hero-title{
    
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;;
    color: var(--hero-title-color);
}
.hero-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: var(--background-color);
    background-color: var(--accent-color);
    cursor: pointer;
    
}



/* All section */
.section-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-text-color)
}
/**---------features--------- */

.features-list .title{
    color: var(--primacy-text-color);
}
.features-list .text{
    color: var(--item-text-color);
}
/**----------- Work--------- */




/** -----------team--------- */
.section-team{
    background-color: var(--secondary-background-color);
}

.team-list .title{
    color: var(--title-text-color);
}
.team-list .text{
    
    color: var(--item-text-color);
}
/**------------ footer----------- */
.footer-content{
    background-color:var(--primacy-text-color)

}

.footer-content .text {
    color: var(--secondary-background-color);
}


/**--------Portfolio-------- */
.section-portfolio{
    background-color: var(--background-color)
}


.button-current{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--btn-back-color);

}
.button-current:hover,
.button-current:focus{
    color: var(--hero-title-color);
    background-color: var(--btn-back-color);
}





.title {
    color: var(--primacy-text-color);
}


.text{
    
color: var(--item-text-color);

}

